@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
*{
	padding:0; 
	margin:0; 
	box-sizing: border-box; 
	font-family:sans-serif;
}
/* Navbar stylings */
body{
	background: white;
}
nav >ul{
   
    display: flex;
    flex-direction: about-row;
    gap: 20PX;
}
nav >ul >li{
  list-style: none;
  cursor:pointer;
}


nav >ul >img{
    width: 30px;
}

/* Navbar styling ends */

/* About page styling begins */
#navBar{
	background-color: #571d08;
	color: white;
	position: sticky;
	top: 0;
}

  .about-row {
	display: flex;
	flex-wrap: wrap;
	padding: 2em 1em;
	text-align: center;
	width: 1200px;
	margin: auto;
  }
  .about-column {
	width: 100%;
	padding: 0.5em 0;
  }
  h1 {
	width: 100%;
	text-align: center;
	font-size: 3.5em;
	color: #000000;
	font-family: 'Pacifico', cursive;
  }
  .about-card {
	box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
	padding: 3.5em 1em;
	border-radius: 0.6em;
	color: black;
	cursor: pointer;
	transition: 0.3s;
	background: rgb(255,224,210);
background: linear-gradient(356deg, rgba(255,224,210,1) 51%, rgba(233,183,159,1) 100%);
	
  }
  .about-card .img-container {
	width: 8em;
	height: 8em;
	/* background-color: #a993ff; */
	padding: 0.5em;
	border-radius: 50%;
	margin: 0 auto 2em auto;
  }
  .about-card img {
	width: 100%;
	border-radius: 50%;
  }
  .about-card h3 {
	font-weight: 500;
  }
  .about-card p {
	font-weight: 300;
	text-transform: uppercase;
	margin: 0.5em 0 2em 0;
	letter-spacing: 2px;
  }
  .icons {
	width: 25%;
	min-width: 90px;
	margin: auto;
	display: flex;
	justify-content: space-between;
  }
  .about-card a {
	text-decoration: none;
	color: inherit;
	font-size: 1.4em;
  }
  .about-card:hover {
	background: rgb(255,224,210);
background: linear-gradient(356deg, rgba(255,224,210,1) 51%, rgb(212, 140, 106) 100%);
	
  }
  .about-card:hover .img-container {
	transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
	section {
	  padding: 1em 7em;
	}
  }
  @media screen and (min-width: 992px) {
	section {
	  padding: 1em;
	}
	
	.about-card {
	  padding: 5em 1em;
	}
	.about-column {
	  flex: 0 0 33.33%;
	  max-width: 33.33%;
	  padding: 0 1em;
		

	}
  }


/* About page styling ends */

/* Billing page styling begins */


/* Billing page styling ends */
@media screen and (max-width: 320px){
	.about-row{
		max-width: 320px;
		margin: auto;
	}

}
