.Footer{
    height: 150px;
    background: rgb(87, 29, 8);
    border-top: 2px solid white;
   
    font-weight: 200;
    font-size: small;
    color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  